*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-image: linear-gradient(to right, #0ff, #00f);
    background-attachment: fixed;
    position: relative;
    position: relative
    /* background-size: contain;*/
}
p{
    color: #f00;
}
.over {
    padding: 100px;
    border-radius: 7px;
    background-color: t;
}
.wide h2{
    width: 400px;
    color: #fff;
    padding-left: 50px;
    margin: 0px auto;
}
.wide {
    width: 450px;
    margin: 100px auto;
    display: flex;
    padding: 20px;
    flex-direction: column;

}
.wide form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}
.wide form input{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ade3e3;
    font-size: 12px;

}
.wide form [type = file]{
    /* padding: ; */
    border: none;
    border-radius: 6px;
    background-color: transparent;
}
.wide form [type = submit]{
    background-color: #0fff;
    font-size: 15px;
    font-weight: bold;
    color: #676;
    transition: 0.4;
}
.wide form [type = submit]:hover{
    background-color: #00f;
    color: #fff;
}

